body{
    background-colour: rgb(122, 9, 122);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);
    gap:1rem;
}
.container{
    background-color: rgb(23, 179, 218);
    max-width: 15rem;
    border-radius: 0.5rem;
    overflow:hidden;
    box-shadow: 3px 3px 10px 0px rgb(22, 22, 22);
}
.info{
    padding:1rem;
}
.info span{
    font-weight: italic;
}
.card-header{
    text-align: center;
    padding-bottom: 0%;
}
